@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  font-family: montes;
  background-color: rgb(42, 42, 44);
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid purple;
  padding: 1.2rem;
  height: 10vh;
}

.navbar h2 {
  color: white;
  text-decoration: none;
}
.navbar h2 span {
  color: purple;
}
.navbar_right a {
  padding: 0 0.5rem;
  color: white;
  text-decoration: none;
}

.header {
  background-image: url(./img/showcase.jpg);
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.banner1 p {
  margin: 1rem;
}
.banner1 h1 {
  font-size: 2.5rem;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 1.2rem;
  height: 10vh;
}
.submit {
  padding: 0.6rem 1.4rem;
  background-color: tomato;
  color: white;
}
.section .mail {
  padding: 0.6rem;
  border: none;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 30vh;
}
.main img {
  width: 6rem;
}

.main div {
  text-align: center;
}

.main h5 {
  padding: 1rem;
  font-size: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  color: white;
  padding: 0.5rem;
  height: 15vh;
}

/*ABOUT*/
.middle {
  width: 100%;
  height: 65vh;
  background-color: whitesmoke;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.middle .section_left {
  color: rgb(63, 62, 62);
  width: 60%;
  margin-right: 2.5rem;
}
.middle .section_left_top {
  padding-bottom: 1rem;
}
.middle .section_left_bottom {
  color: white;
  background-color: rgb(42, 42, 44);
  padding: 1rem;
}
.middle .section_right {
  width: 35%;
  background-color: rgb(42, 42, 44);
  height: max-content;
  color: white;
  padding: 1rem;
}
.middle h3 {
  padding-bottom: 1rem;
}

/*Services*/
.middle_services {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 65vh;
  background-color: whitesmoke;
  padding: 1rem;
}
.middle_services .section_left {
  width: 70vw;
  margin-right: 2rem;
  /* padding: 1rem; */
  font-size: 1rem;
}
.middle_services .section_left_content {
  background-color: lightgray;
  padding: 1rem 0.5rem;
  margin: 0.5rem 0;
}
.middle_services .section_left_content h3,
p {
  margin: 0.3rem 0;
}

.services_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(42, 42, 44);
  width: 30vw;
  height: max-content;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
}
.services_form .submit {
  width: max-content;
}

.services_form label,
input,
textarea {
  margin: 0.1 rem 0;
  padding: 0.3rem;
}
